input {
       beats  {
              port => 5044
      }
}

filter {
        if [type]  == "nginx_access"  {
            json {
                source => "message"
            }
       }
}
output {
        elasticsearch {
                       hosts => ["127.0.0.1:9200"]
                       index => "nginx_access_%{+YYYY.MM.dd}"
                                 }
}
